---
layout: default
title: Blog
breadcrumb: true
asBlog: false
---
<main data-title="blog-find">
    <!-- section content begin -->
    <section>
        <div>
            <div>
                <div>
                    <p>Posts with tag/category</p>
                    <h2>Tag name/Category name</h2>
                    {{> component-blog-find }}
                </div>
                {{#unless setting.blog.showWidgets.allHide}}
                <div>
                    {{#if setting.blog.showWidgets.search}}
                    {{> component-widget-search }}
                    {{/if}}
                    {{#if setting.blog.showWidgets.categories}}
                    {{> component-widget-categories }}
                    {{/if}}
                    {{#if setting.blog.showWidgets.latestPosts}}
                    {{> component-widget-latest }}
                    {{/if}}
                    {{#if setting.blog.showWidgets.tags}}
                    {{> component-widget-tags }}
                    {{/if}}
                </div>
                {{/unless}}
            </div>
        </div>
    </section>
    <!-- section content end -->
</main>