<article>
    <div>
        <h3>
            <a href="${this.sanitizePath}/${link}">${title}</a>
        </h3>
        <p>${content}</p>
        <div>
            <img src="${author.avatar}" alt="author" width="32" height="32">
            <small>
                ${author.name}<span class="mx-1">•</span>${date}
            </small>
        </div>
    </div>
    <div>
        <spa>${category}</span>
        <a href="${this.sanitizePath}/${link}">Read more</a>
    </div>
</article>