.uk-navbar-nav {
    a {
        i {
            font-size: 12px;
            transition: all ease 200ms;
            margin-top: -1px;
            margin-right: 7px;
        }
        &.uk-open i {
            transition: all ease 200ms;
            transform: rotate(-180deg);
        }
    }
}
.uk-navbar-dropdown-nav {
    a {
        i {
            font-size: 13px;
        }
    }
}