<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row gx-0">
            <div class="col-md-12 col-lg-2 border-end-lg d-flex align-items-center justify-content-center justify-content-md-center justify-content-lg-start">
                <h5 class="fw-bold text-muted text-center mb-md-2 mb-lg-0">Our loyal client</h5>
            </div>
            <div class="col-md-12 col-lg-10">
                <div class="row row-cols-1 row-cols-md-4 row-cols-lg-5 gx-0">
                    <div class="col text-center border-bottom border-bottom-md-0 border-end-md">
                        <img class="opacity-75 my-2 my-md-1 my-lg-1" src="img/blockit/in-client-logo-1.svg" alt="client-logo" width="120" height="39">
                    </div>
                    <div class="col text-center border-bottom border-bottom-md-0 border-end-md">
                        <img class="opacity-75 my-2 my-md-1 my-lg-1" src="img/blockit/in-client-logo-2.svg" alt="client-logo" width="120" height="39">
                    </div>
                    <div class="col text-center border-bottom border-bottom-md-0 border-end-md">
                        <img class="opacity-75 my-2 my-md-1 my-lg-1" src="img/blockit/in-client-logo-3.svg" alt="client-logo" width="120" height="39">
                    </div>
                    <div class="col text-center border-bottom border-bottom-md-0 border-end-md-0 border-end-lg">
                        <img class="opacity-75 my-2 my-md-1 my-lg-1" src="img/blockit/in-client-logo-4.svg" alt="client-logo" width="120" height="39">
                    </div>
                    <div class="col text-center d-md-none d-lg-block">
                        <img class="opacity-75 my-2 my-md-1 my-lg-1" src="img/blockit/in-client-logo-5.svg" alt="client-logo" width="120" height="39">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->