<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 gy-3 gx-md-3 gx-lg-4">
            <div class="col">
                <div class="d-flex align-items-center mb-2">
                    <div class="icon-wrap icon-wrap-small bg-light rounded-2 flex-shrink-0 me-1">
                        <i class="fas fa-road fa-sm text-secondary"></i>
                    </div>
                    <h3 class="fw-bold mb-0">Blockit heading 2 feature</h3>
                </div>
                <p>Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt magnam aliquam quaerat voluptatem nostrum exercitationem.</p>
                <a href="#" class="btn btn-primary mt-2">Learn more<i class="fas fa-angle-right fa-xs ms-1"></i></a>
            </div>
            <div class="col">
                <div class="d-flex align-items-center mb-2">
                    <div class="icon-wrap icon-wrap-small bg-light rounded-2 flex-shrink-0 me-1">
                        <i class="fas fa-swatchbook fa-sm text-secondary"></i>
                    </div>
                    <h3 class="fw-bold mb-0">Blockit heading 2 feature</h3>
                </div>
                <p>Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt magnam aliquam quaerat voluptatem nostrum exercitationem.</p>
                <a href="#" class="btn btn-primary mt-2">Learn more<i class="fas fa-angle-right fa-xs ms-1"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->