<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row gy-md-2 gx-lg-5">
            <div class="col-md-12 col-lg-4 text-md-center text-lg-start">
                <span class="badge bg-primary mb-1">trusted clients</span>
                <h1 class="fw-bold">We’ve built solutions for...</h1>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-0">
                    <div class="col border-bottom border-end-0 border-end-md">
                        <div class="text-center px-3 py-4">
                            <img class="opacity-75" src="img/blockit/in-client-logo-1.svg" alt="client-logo" width="134" height="44">
                        </div>
                    </div>
                    <div class="col border-bottom border-end-0 border-end-md">
                        <div class="text-center px-3 py-4">
                            <img class="opacity-75" src="img/blockit/in-client-logo-2.svg" alt="client-logo" width="134" height="44">
                        </div>
                    </div>
                    <div class="col border-bottom">
                        <div class="text-center px-3 py-4">
                            <img class="opacity-75" src="img/blockit/in-client-logo-3.svg" alt="client-logo" width="134" height="44">
                        </div>
                    </div>
                    <div class="col border-bottom border-bottom-md-0 border-end-0 border-end-md">
                        <div class="text-center px-3 py-4">
                            <img class="opacity-75" src="img/blockit/in-client-logo-7.svg" alt="client-logo" width="134" height="44">
                        </div>
                    </div>
                    <div class="col border-bottom border-bottom-md-0 border-end-0 border-end-md">
                        <div class="text-center px-3 py-4">
                            <img class="opacity-75" src="img/blockit/in-client-logo-8.svg" alt="client-logo" width="134" height="44">
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center px-3 py-4">
                            <img class="opacity-75" src="img/blockit/in-client-logo-9.svg" alt="client-logo" width="134" height="44">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->