<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center mt-n3">
            <div class="col-12">
                <div class="border-bottom py-3">
                    <div class="row align-content-center gy-1 gy-md-1">
                        <div class="col-md-12 col-lg-4 d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="icon-wrap bg-light rounded-3 flex-shrink-0 me-2">
                                    <i class="fas fa-users fa-lg text-secondary"></i>
                                </div>
                                <h4 class="fw-bold mb-0">Beginner Course</h4>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5 d-flex align-items-center">
                            <p class="mb-0">Learn the basic concepts of forex trading, what this market is all about, and why you should be a part of it.</p>
                        </div>
                        <div class="col-md-12 col-lg-3 d-flex align-items-center justify-content-lg-end">
                            <a class="btn btn-link link-primary text-decoration-none p-0 mt-1 mt-md-0 mt-lg-0" href="#">Enter Course<i class="fas fa-angle-right fa-xs ms-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="border-bottom py-3">
                    <div class="row align-content-center gy-1 gy-md-1">
                        <div class="col-md-12 col-lg-4 d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="icon-wrap bg-light rounded-3 flex-shrink-0 me-2">
                                    <i class="fas fa-tools fa-lg text-secondary"></i>
                                </div>
                                <h4 class="fw-bold mb-0">Trading Tools</h4>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5 d-flex align-items-center">
                            <p class="mb-0">Familiarize yourself with advanced strategies and Btrade's trading toolset. Take your trading to the next level.</p>
                        </div>
                        <div class="col-md-12 col-lg-3 d-flex align-items-center justify-content-lg-end">
                            <a class="btn btn-link link-primary text-decoration-none p-0 mt-1 mt-md-0 mt-lg-0" href="#">Enter Course<i class="fas fa-angle-right fa-xs ms-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="py-3">
                    <div class="row align-content-center gy-1 gy-md-1">
                        <div class="col-md-12 col-lg-4 d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="icon-wrap bg-light rounded-3 flex-shrink-0 me-2">
                                    <i class="fas fa-chart-area fa-lg text-secondary"></i>
                                </div>
                                <h4 class="fw-bold mb-0">Stocks and CFDs</h4>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5 d-flex align-items-center">
                            <p class="mb-0">Discover the world of CFD trading: The ins & outs of the CFD market, relevant information and market dynamics.</p>
                        </div>
                        <div class="col-md-12 col-lg-3 d-flex align-items-center justify-content-lg-end">
                            <a class="btn btn-link link-primary text-decoration-none p-0 mt-1 mt-md-0 mt-lg-0" href="#">Enter Course<i class="fas fa-angle-right fa-xs ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-9 mt-2 mt-md-3 mt-lg-3">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-1 g-md-1 g-lg-1">
                    <div class="d-grid col">
                        <a class="btn btn-outline-secondary" href="#">Fast Academy</a>
                    </div>
                    <div class="d-grid col">
                        <a class="btn btn-outline-secondary" href="#">Video Tutorials</a>
                    </div>
                    <div class="d-grid col">
                        <a class="btn btn-outline-secondary" href="#">Course</a>
                    </div>
                    <div class="d-grid col">
                        <a class="btn btn-outline-secondary" href="#">E-Books</a>
                    </div>
                    <div class="d-grid col">
                        <a class="btn btn-outline-secondary" href="#">Glossary</a>
                    </div>
                    <div class="d-grid col">
                        <a class="btn btn-outline-secondary" href="#">Trading Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->