<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row d-md-flex justify-content-md-center gy-3 gy-md-3 gy-lg-0 gx-0 gx-md-5 gx-lg-5">
            <div class="col-md-12 col-lg-7">
                <h1 class="fw-bold mb-1">Contact Us</h1>
                <p class="lead text-muted">Do not hesitate to reach out. Just fill in the contact form here and we’ll be sure to reply as fast as possible.</p>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 gy-3 gy-md-0 gy-lg-0 gx-0 gx-md-5 gx-lg-5 mt-n2 mt-md-4 mt-lg-4">
                    <div class="col border-end-md border-end-lg">
                        <h5 class="fw-bold">Public relations</h5>
                        <p>For press, speaking or marketing related inquiries</p>
                        <div class="d-flex align-items-center mb-1">
                            <div class="me-1 icon-wrap icon-wrap-small bg-primary rounded-circle flex-shrink-0">
                                <i class="fas fa-envelope fa-sm text-white"></i>
                            </div>                        
                            <p class="mb-0">public@company.com</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="me-1 icon-wrap icon-wrap-small bg-primary rounded-circle flex-shrink-0">
                                <i class="fas fa-phone fa-sm text-white"></i>
                            </div>                        
                            <p class="mb-0">(888)234-5680</p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-none mt-3 mb-n2">
                    <div class="col">
                        <h5 class="fw-bold">Business submissions</h5>
                        <p>For business plan submissions. Please submit using this</p>
                        <div class="d-flex align-items-center mb-1">
                            <div class="me-1 icon-wrap icon-wrap-small bg-primary rounded-circle flex-shrink-0">
                                <i class="fas fa-envelope fa-sm text-white"></i>
                            </div>                        
                            <p class="mb-0">business@company.com</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="me-1 icon-wrap icon-wrap-small bg-primary rounded-circle flex-shrink-0">
                                <i class="fas fa-phone fa-sm text-white"></i>
                            </div>                        
                            <p class="mb-0">(888)234-5686</p>
                        </div>
                    </div>
                </div>
                <hr class="d-md-none d-lg-none mt-3 mb-n1">
                <h5 class="fw-bold mt-4">Contact information</h5>
                <div class="d-flex align-items-center mb-2">
                    <div class="me-1 icon-wrap icon-wrap-small bg-primary rounded-circle flex-shrink-0">
                        <i class="fas fa-map-marker-alt fa-sm text-white"></i>
                    </div>                        
                    <p class="bigger-picture bigger-picture-map mb-0">
                        Satrio Tower 16th Fl, Jl. Prof Dr Satrio Kuningan, Jakarta <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10600.5248164368!2d144.95966577016594!3d-37.81707816290683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sid!4v1645280096951!5m2!1sen!2sid"><span class="badge bg-primary ms-1">View on Map</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-10 col-lg-5">
                <div class="card bg-light border-0">
                    <div class="card-body p-3 p-md-4 p-lg-4">
                        <form id="contact-form" class="row g-1 mx-0 mx-md-1 mx-lg-0 mt-0 mt-md-1 mt-lg-1" novalidate>
                            <div class="col-12">
                                <input class="form-control" id="name" name="name" type="text" placeholder="Full name" aria-label="Full name" required>
                            </div>
                            <div class="col-12">
                                <input class="form-control" id="email" name="email" type="email" placeholder="Email address" aria-label="Email address" required>
                            </div>
                            <div class="col-12">
                                <input class="form-control" id="subject" name="subject" type="text" placeholder="Subject" aria-label="Subject" required>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" id="message" name="message" placeholder="Message" rows="6" required></textarea>
                            </div>
                            <div class="d-grid mb-2">
                                <button class="btn btn-primary" id="sendemail" type="submit" name="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- success notification begin -->
    <div class="position-fixed bottom-0 end-0 p-4" style="z-index: 2">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-primary">
                <i class='fas fa-check-circle me-1'></i>Your message has been sent successfully. Thank you!
            </div>
        </div>
    </div>
    <!-- success notification end -->
</section>
<!-- section content end -->