<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6">
                <div class="text-center mb-4">
                    <h1 class="fw-bold">Contact Us</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
                </div>
                <div class="card bg-light border-0">
                    <div class="card-body p-2 p-md-4 p-lg-4">
                        <form id="contact-form" class="row g-1 mx-1" novalidate>
                            <div class="col-12 pt-1">
                                <label for="name" class="form-label">Full name</label>
                                <input class="form-control" id="name" name="name" type="text" aria-label="Full name" required>
                            </div>
                            <div class="col-12">
                                <label for="email" class="form-label">Email address</label>
                                <input class="form-control" id="email" name="email" type="email" aria-label="Email address" required>
                            </div>
                            <div class="col-12">
                                <label for="subject" class="form-label">Subject</label>
                                <input class="form-control" id="subject" name="subject" type="text" aria-label="Subject" required>
                            </div>
                            <div class="col-12">
                                <label for="message" class="form-label">Message</label>
                                <textarea class="form-control" id="message" name="message" rows="6" required></textarea>
                            </div>
                            <div class="d-grid mb-2">
                                <button class="btn btn-primary" id="sendemail" type="submit" name="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- success notification begin -->
    <div class="position-fixed bottom-0 end-0 p-4" style="z-index: 2">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-primary">
                <i class='fas fa-check-circle me-1'></i>Your message has been sent successfully. Thank you!
            </div>
        </div>
    </div>
    <!-- success notification end -->
</section>
<!-- section content end -->