<!-- disquss begin -->
<div class="container py-2 mt-n4 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-9">
            <div id="disqus_thread"></div>
            <script>
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = `https://{{setting.blog.disqussShortname}}.disqus.com/embed.js`;
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>
</div>
<!-- disquss content end -->