<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row gy-3 gy-md-3 gy-lg-0 gx-lg-5 d-md-flex justify-content-md-center">
            <div class="col-12 d-flex justify-content-center mb-n3 mb-md-n3 mb-lg-4">
                <div class="col-md-12 col-lg-6 text-center">
                    <h1 class="fw-bold">Contact Us</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
                </div>
            </div>
            <div class="col-md-10 col-lg-6">
                <form id="contact-form" class="row g-1 me-md-0 me-lg-3" novalidate>
                    <div class="col-12">
                        <input class="form-control" id="name" name="name" type="text" placeholder="Full name" aria-label="Full name" required>
                    </div>
                    <div class="col-12">
                        <input class="form-control" id="email" name="email" type="email" placeholder="Email address" aria-label="Email address" required>
                    </div>
                    <div class="col-12">
                        <input class="form-control" id="subject" name="subject" type="text" placeholder="Subject" aria-label="Subject" required>
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" id="message" name="message" placeholder="Message" rows="6" required></textarea>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary" id="sendemail" type="submit" name="submit">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="col-md-10 col-lg-6">
                <h3 class="h4 fw-bold">Business submissions</h3>
                <p>For business plan submissions. Please submit using this</p>
                <div class="d-flex align-items-center mb-1">
                    <div class="me-1 icon-wrap icon-wrap-small bg-primary rounded-circle flex-shrink-0">
                        <i class="fas fa-envelope fa-sm text-white"></i>
                    </div>                        
                    <p class="mb-0">business@company.com</p>
                </div>
                <div class="d-flex align-items-center">
                    <div class="me-1 icon-wrap icon-wrap-small bg-primary rounded-circle flex-shrink-0">
                        <i class="fas fa-phone fa-sm text-white"></i>
                    </div>                        
                    <p class="mb-0">(888)234-5686</p>
                </div>
                <hr class="my-4">
                <h3 class="fw-bold">Our socials media</h3>
                <div class="mt-1">
                    <a href="#" class="fab fa-facebook-square fa-lg color-facebook me-2"></a>
                    <a href="#" class="fab fa-twitter fa-lg color-twitter me-2"></a>
                    <a href="#" class="fab fa-linkedin-in fa-lg color-linkedin me-2"></a>
                    <a href="#" class="fab fa-instagram fa-lg color-instagram me-2"></a>
                    <a href="#" class="fab fa-pinterest fa-lg color-pinterest me-2"></a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- success notification begin -->
    <div class="position-fixed bottom-0 end-0 p-4" style="z-index: 2">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-primary">
                <i class='fas fa-check-circle me-1'></i>Your message has been sent successfully. Thank you!
            </div>
        </div>
    </div>
    <!-- success notification end -->
</section>
<!-- section content end -->