<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-0 gx-md-5 gx-lg-5">
            <div class="col-12 col-md-12 col-lg-12 mb-md-2 mb-lg-4">
                <h2 class="fw-bold text-center">Company Legal Docs</h2>
            </div>        
            <div class="border-end-0 border-end-md border-end-lg">
                <div class="icon-wrap bg-light rounded-3 flex-shrink-0 mb-2 mb-md-3 mb-lg-3">
                    <i class="fas fa-file fa-lg text-secondary"></i>
                </div>
                <h3 class="fw-bold">Terms of Service</h3>
                <p>Read the Terms of Service and License Agreement for Blockit as well as our BlockitApp &amp; Developer Agreements.</p>
                <ul class="list-unstyled lh-lg mb-0">
                    <li><a class="btn btn-link link-primary text-decoration-none p-0" href="#"><i class="fas fa-file-pdf fa-sm me-1"></i>License Agreement</a></li>
                    <li><a class="btn btn-link link-primary text-decoration-none p-0" href="#"><i class="fas fa-file-pdf fa-sm me-1"></i>Term of Services for Blockit Trade</a></li>
                </ul>
                <hr class="d-md-none d-lg-none my-3 my-md-3">
            </div>
            <div class="border-end-md-0 border-end-lg">
                <div class="icon-wrap bg-light rounded-3 flex-shrink-0 mb-2 mb-md-3 mb-lg-3">
                    <i class="fas fa-globe fa-lg text-secondary"></i>
                </div>
                <h3 class="fw-bold">Policies</h3>
                <p>Find out more about what information we collect at Blockit, how we use it, and what control you have over your data.</p>
                <ul class="list-unstyled lh-lg mb-0">
                    <li><a class="btn btn-link link-primary text-decoration-none p-0" href="#"><i class="fas fa-file-pdf fa-sm me-1"></i>Privacy Statement</a></li>
                </ul>
                <hr class="d-md-none d-lg-none my-3 my-md-3">
            </div>
            <div class="d-md-none d-lg-block">
                <div class="icon-wrap bg-light rounded-3 flex-shrink-0 mb-2 mb-md-3 mb-lg-3">
                    <i class="fas fa-shield-alt fa-lg text-secondary"></i>
                </div>
                <h3 class="fw-bold">Security</h3>
                <p>Learn more about how we keep your work and personal data safe when you’re using our services.</p>
                <ul class="list-unstyled lh-lg mb-0">
                    <li><a class="btn btn-link link-primary text-decoration-none p-0" href="#"><i class="fas fa-file-pdf fa-sm me-1"></i>Blockit Trade Security</a></li>
                    <li><a class="btn btn-link link-primary text-decoration-none p-0" href="#"><i class="fas fa-file-pdf fa-sm me-1"></i>Responsible Disclosure Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->