<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 gx-0 gx-md-0 gx-lg-3 gy-3 gy-md-3 gy-lg-0">
            <div class="col">
                <div class="card shadow-sm position-relative">
                    <div class="card-body">
                        <img class="position-absolute bottom-0 end-0" src="img/blockit/in-testimoni-2.png" alt="client-testimoni" width="200">
                        <blockquote class="blockquote text-muted">
                            <p>The extension makes collecting feedback so much easier! Shipright then really helps us make decisions based on the data we collected.</p>
                        </blockquote>
                        <div class="mt-4">
                            <img class="mb-2" src="img/blockit/in-client-testi-1.svg" alt="client-logo" width="62" height="62">
                            <h6 class="mb-0">Gabrielle Barger</h6>
                            <span class="blockquote-footer">Help Desk at Pushbullet</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm position-relative">
                    <div class="card-body">
                        <img class="position-absolute bottom-0 end-0" src="img/blockit/in-testimoni-3.png" alt="client-testimoni" width="200">
                        <blockquote class="blockquote text-muted">
                            <p>Quick, easy, and super helpful to collect and organise feedback from all kinds of channels we use to communicate with our customers.</p>
                        </blockquote>
                        <div class="mt-4">
                            <img class="mb-2" src="img/blockit/in-client-testi-2.svg" alt="client-logo" width="62" height="62">
                            <h6 class="mb-0">Melvin Cortez</h6>
                            <span class="blockquote-footer">Cloud Architect at Stormpath</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->