<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6 text-center">
                <h2 class="fw-bold mb-2">Blockit is really awesome, seriously</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-1 g-md-1 mt-1 mb-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex align-items-center p-2">
                        <i class="fab fa-html5 fa-2x me-1 color-html5"></i>
                        <p class="fw-bold text-secondary mb-0">Built with HTML 5</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex align-items-center p-2">
                        <i class="fab fa-css3-alt fa-2x me-1 color-css3"></i>
                        <p class="fw-bold text-secondary mb-0">Built with CSS 3</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex align-items-center p-2">
                        <i class="fab fa-js fa-2x me-1 color-javascript"></i>
                        <p class="fw-bold text-secondary mb-0">Built with JavaScript</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex align-items-center p-2">
                        <i class="fab fa-bootstrap fa-2x me-1 color-bootstrap"></i>
                        <p class="fw-bold text-secondary mb-0">Built with Bootstrap 5</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex align-items-center p-2">
                        <i class="fab fa-sass fa-2x me-1 color-sass"></i>
                        <p class="fw-bold text-secondary mb-0">Built with SASS</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex align-items-center p-2">
                        <i class="fab fa-gulp fa-2x me-1 color-gulp"></i>
                        <p class="fw-bold text-secondary mb-0">Built with Gulp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->