<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="row row-cols-1 row-cols-lg-2 mb-md-3 mb-lg-5 gy-2 gx-2 gx-lg-3">
                    <div class="col position-relative mb-4 mb-mb-n1">
                        <img class="img-fluid rounded-1 mx-md-auto d-md-block" src="img/blockit/in-card-image-11.jpg" alt="sample-image">
                        <div class="d-flex justify-content-center">
                            <div class="card shadow-sm w-75 position-absolute top-100 start-50 translate-middle">
                                <div class="card-body p-2">
                                    <h6 class="fw-bold mb-0">
                                        <a href="#" class="text-decoration-none d-flex justify-content-between align-items-center stretched-link">
                                            Some cool service tagline
                                            <div class="icon-wrap icon-wrap-micro bg-primary rounded-circle flex-shrink-0">
                                                <i class="fas fa-arrow-right fa-xs text-white"></i>
                                            </div>
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col position-relative mb-4 mb-mb-n1">
                        <img class="img-fluid rounded-1 mx-md-auto d-md-block" src="img/blockit/in-card-image-12.jpg" alt="sample-image">
                        <div class="d-flex justify-content-center">
                            <div class="card shadow-sm w-75 position-absolute top-100 start-50 translate-middle">
                                <div class="card-body p-2">
                                    <h6 class="fw-bold mb-0">
                                        <a href="#" class="text-decoration-none d-flex justify-content-between align-items-center stretched-link">
                                            Some cool service tagline
                                            <div class="icon-wrap icon-wrap-micro bg-primary rounded-circle flex-shrink-0">
                                                <i class="fas fa-arrow-right fa-xs text-white"></i>
                                            </div>
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->