<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row row-cols-md-2 row-cols-lg-3 gy-3">
            <div class="col-md-12 col-lg-12 mb-n2 mb-md-n2 mb-lg-0">
                <h1 class="fw-bold">Our team</h1>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img class="bg-light rounded-circle" src="img/blockit/in-team-1.png" alt="image-team" width="80" height="80">
                    </div>
                    <div>
                        <h5 class="fw-bold mb-1">Cynthia Dixon</h5>
                        <small class="text-uppercase text-muted">Chief Executive Officer</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img class="bg-light rounded-circle" src="img/blockit/in-team-2.png" alt="image-team" width="80" height="80">
                    </div>
                    <div>
                        <h5 class="fw-bold mb-1">Arthur Parker</h5>
                        <small class="text-uppercase text-muted">Executive Assistant</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img class="bg-light rounded-circle" src="img/blockit/in-team-3.png" alt="image-team" width="80" height="80">
                    </div>
                    <div>
                        <h5 class="fw-bold mb-1">Evelyn Mason</h5>
                        <small class="text-uppercase text-muted">Marketing Specialist</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img class="bg-light rounded-circle" src="img/blockit/in-team-4.png" alt="image-team" width="80" height="80">
                    </div>
                    <div>
                        <h5 class="fw-bold mb-1">Bryan Greene</h5>
                        <small class="text-uppercase text-muted">Human Resources</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img class="bg-light rounded-circle" src="img/blockit/in-team-5.png" alt="image-team" width="80" height="80">
                    </div>
                    <div>
                        <h5 class="fw-bold mb-1">Jeffrey Reyes</h5>
                        <small class="text-uppercase text-muted">Office Manager</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img class="bg-light rounded-circle" src="img/blockit/in-team-6.png" alt="image-team" width="80" height="80">
                    </div>
                    <div>
                        <h5 class="fw-bold mb-1">Peter Jacobs</h5>
                        <small class="text-uppercase text-muted">Account Executive</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img class="bg-light rounded-circle" src="img/blockit/in-team-7.png" alt="image-team" width="80" height="80">
                    </div>
                    <div>
                        <h5 class="fw-bold mb-1">Scott Baker</h5>
                        <small class="text-uppercase text-muted">Customer Support</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img class="bg-light rounded-circle" src="img/blockit/in-team-8.png" alt="image-team" width="80" height="80">
                    </div>
                    <div>
                        <h5 class="fw-bold mb-1">Timothy Watkins</h5>
                        <small class="text-uppercase text-muted">Operations Manager</small>
                    </div>
                </div>
            </div>
            <div class="col d-md-none d-lg-block">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img class="bg-light rounded-circle" src="img/blockit/in-team-9.png" alt="image-team" width="80" height="80">
                    </div>
                    <div>
                        <h5 class="fw-bold mb-1">Raymond Patel</h5>
                        <small class="text-uppercase text-muted">Quality Control</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->