<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row gx-0 gx-md-3 gx-lg-5">
            <div class="col-md-12 col-lg-6 border-end-md-0 border-end-lg">
                <p>Driven, motivated people who believe that personal engagement, a sense of ownership, and a commitment to investing gives them control over their financial futures</p>
                <ul class="mb-0">
                    <li>Approximately 1,200 financial consultants</li>
                    <li>$117.9 billion enrolled in advisory solutions</li>
                    <li>100,000+ financial plans provided to date</li>
                </ul>
                <hr class="d-lg-none my-3 my-md-3">
            </div>
            <div class="col-md-12 col-lg-6">
                <h3 class="fw-bold">We're always looking for talent</h3>
                <p>Got what it takes to work with us? Great! Send us a link to your resumé or portfolio to become part of our talent pool.</p>
                <a href="#" class="btn btn-primary mt-1">See Job Openings<i class="fas fa-angle-right fa-xs ms-1"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->