<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 gy-3 gy-md-3 gx-0 gx-md-0 gx-lg-3">
            <div class="col-md-12 col-lg-12 mb-n3 mb-md-n3 mb-lg-n3">
                <h1 class="fw-bold text-center">Pricing plan</h1>
            </div>
            <div class="col">
                <div class="card rounded-2" style="border-top: 3px solid rgba(0, 0, 0, 0.125);">
                    <div class="text-center px-4 py-3">
                        <h6 class="fw-bold text-muted text-uppercase mt-2 mb-0">Basic</h6>
                        <h4 class="fw-bold display-4 my-0">
                            <span class="fs-5 position-relative" style="top: -20px;">$</span>10
                        </h4>
                        <span class="text-muted">per month</span>
                    </div>
                    <div class="card-body px-4 pt-3 pb-4">
                        <ul class="list-group list-group-flush mb-3">
                            <li class="list-group-item px-0">Free Membership</li>
                            <li class="list-group-item px-0">30GB Storage</li>
                            <li class="list-group-item px-0">1 Personal Email</li>
                        </ul>
                        <div class="d-grid">
                            <a href="#" class="btn btn-outline-secondary">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-2 border-primary" style="border-top: 3px solid rgba(0, 0, 0, 0.125);">
                    <div class="text-center px-4 py-3">
                        <h6 class="fw-bold text-primary text-uppercase mt-2 mb-0">Premium</h6>
                        <h4 class="fw-bold display-4 my-0">
                            <span class="fs-5 position-relative" style="top: -20px;">$</span>25
                        </h4>
                        <span class="text-muted">per month</span>
                    </div>
                    <div class="card-body px-4 pt-3 pb-4">
                        <ul class="list-group list-group-flush mb-3">
                            <li class="list-group-item border-primary px-0">Premium Membership</li>
                            <li class="list-group-item border-primary px-0">120GB Storage</li>
                            <li class="list-group-item border-primary px-0">20 Personal Email</li>
                        </ul>
                        <div class="d-grid">
                            <a href="#" class="btn btn-primary">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-2" style="border-top: 3px solid rgba(0, 0, 0, 0.125);">
                    <div class="text-center px-4 py-3">
                        <h6 class="fw-bold text-muted text-uppercase mt-2 mb-0">Enterprise</h6>
                        <h4 class="fw-bold display-4 my-0">
                            <span class="fs-5 position-relative" style="top: -20px;">$</span>60
                        </h4>
                        <span class="text-muted">per month</span>
                    </div>
                    <div class="card-body px-4 pt-3 pb-4">
                        <ul class="list-group list-group-flush mb-3">
                            <li class="list-group-item px-0">VIP Membership</li>
                            <li class="list-group-item px-0">Unlimited Storage</li>
                            <li class="list-group-item px-0">Unlimited Personal Email</li>
                        </ul>
                        <div class="d-grid">
                            <a href="#" class="btn btn-outline-secondary">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->