<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6 text-center">
                <span class="badge bg-primary mb-1">small tagline</span>
                <h2 class="fw-bold">Blockit heading 2 is here and this is really awesome, seriously</h2>
                <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi architecto beatae dicta explicabo.</p>
            </div>
            <div class="col-12 col-md-12 col-lg-9 mt-3">
                <div class="row row-cols-2 row-cols-md-5 row-cols-lg-5 gx-0 gx-md-3 gx-lg-5">
                    <div class="col text-center">
                        <div class="icon-wrap icon-wrap-large bg-light rounded-3 flex-shrink-0 mb-1">
                            <i class="fas fa-chart-pie fa-3x text-secondary"></i>
                        </div>
                        <h6 class="fw-bold">Feature one</h6>
                    </div>
                    <div class="col text-center">
                        <div class="icon-wrap icon-wrap-large bg-light rounded-3 flex-shrink-0 mb-1">
                            <i class="fas fa-fire-alt fa-3x text-secondary"></i>
                        </div>
                        <h6 class="fw-bold">Feature two</h6>
                    </div>
                    <div class="col text-center">
                        <div class="icon-wrap icon-wrap-large bg-light rounded-3 flex-shrink-0 mb-1">
                            <i class="fas fa-globe-americas fa-3x text-secondary"></i>
                        </div>
                        <h6 class="fw-bold">Feature three</h6>
                    </div>
                    <div class="col text-center">
                        <div class="icon-wrap icon-wrap-large bg-light rounded-3 flex-shrink-0 mb-1">
                            <i class="fas fa-leaf fa-3x text-secondary"></i>
                        </div>
                        <h6 class="fw-bold">Feature four</h6>
                    </div>
                    <div class="col text-center d-none d-md-block d-lg-block">
                        <div class="icon-wrap icon-wrap-large bg-light rounded-3 flex-shrink-0 mb-1">
                            <i class="fas fa-pizza-slice fa-3x text-secondary"></i>
                        </div>
                        <h6 class="fw-bold">Feature five</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->