<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-sm" style="border-top: 3px solid rgba(0, 0, 0, 0.125);">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-0">
                        <div class="col border-end border-bottom border-end-lg">
                            <div class="card-body text-center">
                                <h2 class="fw-bold mb-0">#1</h2>
                                <p class="text-muted mb-0">for spreads^</p>
                            </div>
                        </div>
                        <div class="col border-bottom border-end-lg">
                            <div class="card-body text-center">
                                <h2 class="fw-bold mb-0">~30ms</h2>
                                <p class="text-muted mb-0">executions speed*</p>
                            </div>
                        </div>
                        <div class="col border-bottom border-bottom-md-0 border-end border-end-lg">
                            <div class="card-body text-center">
                                <h2 class="fw-bold mb-0">24/5</h2>
                                <p class="text-muted mb-0">customer support</p>
                            </div>
                        </div>                        
                        <div class="col">
                            <div class="card-body text-center">
                                <h2 class="fw-bold mb-0">150+</h2>
                                <p class="text-muted mb-0">trading instruments</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->