<!-- slideshow content begin -->
<section>    
    <div id="main-slideshow" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item bg-primary">
    <div class="carousel-caption d-flex align-items-center">
        <div class="container text-light">
            <div class="row row-cols-1 row-cols-md-2 gx-md-5 align-items-md-center">
                <div class="order-first">
                    <h2 class="fw-bold">First slide label</h2>
                    <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat consequatur reprehenderit.</p>
                    <a href="#" class="btn btn-light">Learn more<i class="fas fa-angle-right fa-xs ms-1"></i></a>
                </div>
                <div class="order-last d-none d-md-block">
                    <img src="img/blockit/in-blob-1.svg" class="d-block w-100" alt="slide">
                </div>
            </div>
        </div>
    </div>
</div> <div class="carousel-item bg-secondary">
    <div class="carousel-caption d-flex align-items-center">
        <div class="container text-light">
            <div class="row row-cols-1 row-cols-md-2 gx-md-5 align-items-md-center">
                <div class="order-first">
                    <h2 class="fw-bold">Second slide label</h2>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#" class="btn btn-light">Learn more<i class="fas fa-angle-right fa-xs ms-1"></i></a>
                </div>
                <div class="order-last d-none d-md-block">
                    <img src="img/blockit/in-blob-2.svg" class="d-block w-100" alt="slide">
                </div>
            </div>
        </div>
    </div>
</div> <div class="carousel-item bg-danger">
    <div class="carousel-caption d-flex align-items-center">
        <div class="container text-light">
            <div class="row row-cols-1 row-cols-md-2 gx-md-5 align-items-md-center">
                <div class="order-first">
                    <h2 class="fw-bold">Third slide label</h2>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem.</p>
                    <a href="#" class="btn btn-light">Learn more<i class="fas fa-angle-right fa-xs ms-1"></i></a>
                </div>
                <div class="order-last d-none d-md-block">
                    <img src="img/blockit/in-blob-3.svg" class="d-block w-100" alt="slide">
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
        <div class="carousel-indicators"></div>
        <button class="carousel-control-prev" type="button" data-bs-target="#main-slideshow" data-bs-slide="prev"></button>
        <button class="carousel-control-next" type="button" data-bs-target="#main-slideshow" data-bs-slide="next"></button>
    </div>
</section>
<!-- slideshow content end -->
