<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row gx-0 gx-md-0 gx-lg-3 gy-3 gy-md-3 gy-lg-0">
            <div class="col-md-12 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="fw-bold">Great tools for everybody's</h4>
                        <blockquote class="blockquote text-muted">
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat sed do eiusmod.</p>
                        </blockquote>
                        <div class="d-md-flex d-lg-flex align-items-center mt-3">
                            <div class="me-2">
                                <img class="bg-light rounded-circle mb-1 mb-md-0 mb-lg-0" src="img/blockit/in-team-7.png" alt="client-pic" width="56" height="56">                                
                            </div>
                            <div>
                                <h6 class="mb-0">Richard Garcia</h6>
                                <span class="blockquote-footer">Brand Manager at AppDynamics</span>
                            </div>
                            <div class="flex-fill">
                                <div class="text-warning float-md-end float-lg-end">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="fw-bold">Friendly customer support</h4>
                        <blockquote class="blockquote text-muted">
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat sed do eiusmod.</p>
                        </blockquote>
                        <div class="d-md-flex d-lg-flex align-items-center mt-3">
                            <div class="me-2">
                                <img class="bg-light rounded-circle mb-1 mb-md-0 mb-lg-0" src="img/blockit/in-team-1.png" alt="client-pic" width="56" height="56">                                
                            </div>
                            <div>
                                <h6 class="mb-0">Kristine Rooney</h6>
                                <span class="blockquote-footer">Risk Manager at Brandfolder</span>
                            </div>
                            <div class="flex-fill">
                                <div class="text-warning float-md-end float-lg-end">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->