<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 justify-content-center">
            <div class="col text-center border-end-0 border-end-md border-end-lg">
                <i class="fas fa-anchor fa-5x icon-wrap icon-wrap-large text-secondary"></i>
                <hr class="d-md-none d-lg-none my-2 my-md-0 my-lg-0">
            </div>
            <div class="col text-center border-end-0 border-end-md border-end-lg">
                <i class="fas fa-dolly fa-5x icon-wrap icon-wrap-large text-secondary"></i>
                <hr class="d-md-none d-lg-none my-2 my-md-0 my-lg-0">
            </div>
            <div class="col text-center">
                <i class="fas fa-map-signs fa-5x icon-wrap icon-wrap-large text-secondary"></i>
            </div>
            <div class="col-12 col-md-10 col-lg-8 mt-4">
                <p class="lead text-muted text-center">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->