<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 gy-2 gy-lg-0 gx-lg-3">
            <div class="col">
                <div class="card-badge position-relative">
                    <span class="badge rounded-pill bg-primary">best value</span>
                    <div class="card shadow-sm overflow-hidden">
                        <div class="card-body">
                            <h5 class="fw-bold">Feature heading</h5>
                            <p class="mb-3">Nostrum exercitationem ullam corporis suscipit reprehen</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm rounded-pill mb-1">Get started<i class="fas fa-chevron-circle-right fa-xs ms-1"></i></a>
                            <i class="fas fa-drafting-compass fa-8x text-muted opacity-25 position-absolute bottom-0 end-0 me-n2 mb-n2"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-badge position-relative">
                    <span class="badge rounded-pill bg-primary">best value</span>
                    <div class="card shadow-sm overflow-hidden">
                        <div class="card-body">
                            <h5 class="fw-bold">Feature heading</h5>
                            <p class="mb-3">Nostrum exercitationem ullam corporis suscipit reprehen</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm rounded-pill mb-1">Get started<i class="fas fa-chevron-circle-right fa-xs ms-1"></i></a>
                            <i class="fas fa-tools fa-8x text-muted opacity-25 position-absolute bottom-0 end-0 me-n2 mb-n2"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-badge position-relative">
                    <span class="badge rounded-pill bg-primary">best value</span>
                    <div class="card shadow-sm overflow-hidden">
                        <div class="card-body">
                            <h5 class="fw-bold">Feature heading</h5>
                            <p class="mb-3">Nostrum exercitationem ullam corporis suscipit reprehen</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm rounded-pill mb-1">Get started<i class="fas fa-chevron-circle-right fa-xs ms-1"></i></a>
                            <i class="fas fa-cogs fa-8x text-muted opacity-25 position-absolute bottom-0 end-0 me-n2 mb-n2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->