<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-7">
                <div class="card mb-2">
                    <div class="card-body px-3 px-md-4 px-lg-4">
                        <div class="d-md-flex d-lg-flex align-items-center">
                            <div>
                                <div class="icon-wrap bg-dark rounded-3 flex-shrink-0">
                                    <i class="fas fa-book fa-lg text-white"></i>
                                </div>
                            </div>
                            <div class="ms-0 ms-md-3 ms-lg-3 mt-2 mt-md-0 mt-lg-0">
                                <h5 class="fw-bold">
                                    <a href="#" class="link-dark text-decoration-none stretched-link">Getting started with our product</a>
                                </h5>
                                <div class="d-flex align-items-start">
                                    <img class="rounded-circle bg-light me-2" src="img/blockit/in-team-7.png" width="40" height="40" alt="author-image">
                                    <small>5 articles in this collection<br/><span class="text-muted">Written by Scott Baker</span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body px-3 px-md-4 px-lg-4">
                        <div class="d-md-flex d-lg-flex align-items-center">
                            <div>
                                <div class="icon-wrap bg-dark rounded-3 flex-shrink-0">
                                    <i class="fas fa-pen-nib fa-lg text-white"></i>
                                </div>
                            </div>
                            <div class="ms-0 ms-md-3 ms-lg-3 mt-2 mt-md-0 mt-lg-0">
                                <h5 class="fw-bold">
                                    <a href="#" class="link-dark text-decoration-none stretched-link">Project sources and Tracking</a>
                                </h5>
                                <div class="d-flex align-items-start">
                                    <img class="rounded-circle bg-light me-2" src="img/blockit/in-team-8.png" width="40" height="40" alt="author-image">
                                    <small>2 articles in this collection<br/><span class="text-muted">Written by Timothy Watkins</span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body px-3 px-md-4 px-lg-4">
                        <div class="d-md-flex d-lg-flex align-items-center">
                            <div>
                                <div class="icon-wrap bg-dark rounded-3 flex-shrink-0">
                                    <i class="fas fa-file-invoice fa-lg text-white"></i>
                                </div>
                            </div>
                            <div class="ms-0 ms-md-3 ms-lg-3 mt-2 mt-md-0 mt-lg-0">
                                <h5 class="fw-bold">
                                    <a href="#" class="link-dark text-decoration-none stretched-link">Invoicing and Getting paid</a>
                                </h5>
                                <div class="d-flex align-items-start">
                                    <img class="rounded-circle bg-light me-2" src="img/blockit/in-team-6.png" width="40" height="40" alt="author-image">
                                    <small>3 articles in this collection<br/><span class="text-muted">Written by Peter Jacobs</span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body px-3 px-md-4 px-lg-4">
                        <div class="d-md-flex d-lg-flex align-items-center">
                            <div>
                                <div class="icon-wrap bg-dark rounded-3 flex-shrink-0">
                                    <i class="fas fa-users fa-lg text-white"></i>
                                </div>
                            </div>
                            <div class="ms-0 ms-md-3 ms-lg-3 mt-2 mt-md-0 mt-lg-0">
                                <h5 class="fw-bold">
                                    <a href="#" class="link-dark text-decoration-none stretched-link">Project sources and Tracking</a>
                                </h5>
                                <div class="d-flex align-items-start">
                                    <img class="rounded-circle bg-light me-2" src="img/blockit/in-team-3.png" width="40" height="40" alt="author-image">
                                    <small>8 articles in this collection<br/><span class="text-muted">Written by Evelyn Mason</span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->