<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="row align-items-center gx-0 gx-md-3 gx-lg-3">
                    <div class="col-12 col-md-8 col-lg-8">
                        <p class="fs-4 text-muted">We help our customers engage investors so their companies can grow</p>
                        <p>Our customers look to us as guides, and we weave our deep legal and technical experience into our software and services.</p>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 mt-3 mt-md-0 mt-lg-0">
                        <ul class="list-unstyled">
                            <li class="border-bottom pb-2">
                                <div class="d-flex align-items-start">
                                    <div class="me-2">
                                        <div class="icon-wrap bg-light rounded-3 flex-shrink-0">
                                            <i class="fas fa-paper-plane fa-lg text-secondary"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h3 class="fw-bold mb-0">35,817</h3>
                                        <div class="badge bg-primary mb-0">Business launch</div>
                                    </div>
                                </div>
                            </li>
                            <li class="pt-2">
                                <div class="d-flex align-items-start">
                                    <div class="me-2">
                                        <div class="icon-wrap bg-light rounded-3 flex-shrink-0">
                                            <i class="fas fa-user-tie fa-lg text-secondary"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h3 class="fw-bold mb-0">4,400</h3>
                                        <div class="badge bg-primary mb-0">Investor engaged</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->