<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="row align-items-center gx-0">
                    <div class="col-md-12 col-lg-8">
                        <div class="card shadow-sm rounded-0 rounded-lg-1 rounded-top">
                            <div class="card-body px-2 px-md-3 px-lg-3 py-2 text-center">
                                <h4 class="fw-bold mt-2">Blockit heading 3 here</h4>
                                <p class="text-muted mb-1">Corporis proident sunt culpa officia suscipit</p>
                                <div class="row row-cols-2 g-0 p-1">
                                    <div class="col border-end border-bottom py-2">
                                        <div class="icon-wrap bg-light rounded-3 flex-shrink-0">
                                            <i class="fas fa-graduation-cap fa-lg text-secondary"></i>
                                        </div>
                                        <h5 class="h6 fw-bold mt-2 mb-0">tagline icon</h5>
                                    </div>
                                    <div class="col border-bottom py-2">
                                        <div class="icon-wrap bg-light rounded-3 flex-shrink-0">
                                            <i class="fas fa-mug-hot fa-lg text-secondary"></i>
                                        </div>
                                        <h5 class="h6 fw-bold mt-2 mb-0">tagline icon</h5>
                                    </div>
                                    <div class="col border-end py-2">
                                        <div class="icon-wrap bg-light rounded-3 flex-shrink-0">
                                            <i class="fas fa-tools fa-lg text-secondary"></i>
                                        </div>
                                        <h5 class="h6 fw-bold mt-2 mb-0">tagline icon</h5>
                                    </div>
                                    <div class="col py-2">
                                        <div class="icon-wrap bg-light rounded-3 flex-shrink-0">
                                            <i class="fas fa-wallet fa-lg text-secondary"></i>
                                        </div>
                                        <h5 class="h6 fw-bold mt-2 mb-0">tagline icon</h5>
                                    </div>
                                </div>
                                <div class="d-md-flex justify-content-center align-items-center mt-1 mb-2">
                                    <p class="small text-uppercase text-muted mb-1 mb-md-0">What are you waiting for</p>
                                    <a href="#" class="btn btn-primary btn-sm rounded-pill px-1 ms-1">Get started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="bg-primary rounded-bottom rounded-lg-0 rounded-end-lg rounded-lg-end text-white">
                            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-1 g-0 gx-md-2 gx-lg-0 px-3 px-lg-3 py-1">
                                <div class="col border-bottom border-bottom-md-0 border-bottom-lg py-3">
                                    <div class="d-flex item-aligns-start">
                                        <div class="me-2 icon-wrap icon-wrap-micro bg-light bg-opacity-25 rounded-circle flex-shrink-0">
                                            <i class="fas fa-arrow-right fa-xs text-white"></i>
                                        </div>
                                        <div>
                                            <h5 class="h6 fw-bold mb-1">Feature heading</h5>
                                            <p class="text-white-50 mb-0">Exercitationem ullam corporis suscipit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col border-bottom border-bottom-md-0 border-bottom-lg py-3">
                                    <div class="d-flex item-aligns-start">
                                        <div class="me-2 icon-wrap icon-wrap-micro bg-light bg-opacity-25 rounded-circle flex-shrink-0">
                                            <i class="fas fa-arrow-right fa-xs text-white"></i>
                                        </div>
                                        <div>
                                            <h5 class="h6 fw-bold mb-1">Feature heading</h5>
                                            <p class="text-white-50 mb-0">Exercitationem ullam corporis suscipit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-3">
                                    <div class="d-flex item-aligns-start">
                                        <div class="me-2 icon-wrap icon-wrap-micro bg-light bg-opacity-25 rounded-circle flex-shrink-0">
                                            <i class="fas fa-arrow-right fa-xs text-white"></i>
                                        </div>
                                        <div>
                                            <h5 class="h6 fw-bold mb-1">Feature heading</h5>
                                            <p class="text-white-50 mb-0">Exercitationem ullam corporis suscipit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->