<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8">
                <h1 class="fw-bold mb-2">Blockit is easy way to make beautiful website powered by Bootstrap 5</h1>
                <p class="lead text-muted mb-3">Lorem ipsum dolor sit amet consectet adipiscing elite, sed do eiusmod tempor incididunt ut laboremi dolore magna aliqua.</p>
                <a href="#" class="btn btn-link btn-lg link-primary text-decoration-none p-0">explore all features<i class="fas fa-angle-right fa-xs ms-1"></i></a>
                <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4 mt-4">                
                    <div class="col text-center">
                        <i class="fas fa-cog fa-5x icon-wrap icon-wrap-large text-secondary mb-1"></i>
                        <h4 class="fw-bold">Feature one</h4>
                    </div>
                    <div class="col text-center">
                        <i class="fas fa-box-open fa-5x icon-wrap icon-wrap-large text-secondary mb-1"></i>
                        <h4 class="fw-bold">Feature two</h4>
                    </div>
                    <div class="col text-center">
                        <i class="fas fa-road fa-5x icon-wrap icon-wrap-large text-secondary mb-1"></i>
                        <h4 class="fw-bold">Feature three</h4>
                    </div>
                    <div class="col text-center">
                        <i class="fas fa-paper-plane fa-5x icon-wrap icon-wrap-large text-secondary mb-1"></i>
                        <h4 class="fw-bold">Feature four</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->