<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row d-md-flex justify-content-md-center gy-3 gy-mb-0 gy-lg-0 gx-0 gx-md-5 gx-lg-5">
            <div class="col-12 mb-n2 mb-md-n2 mb-lg-4">
                <div class="col-md-12 col-lg-7">
                    <h1 class="fw-bold mb-1">Contact Us</h1>
                    <p class="lead text-muted">Do not hesitate to reach out. Just fill in the contact form here and we’ll be sure to reply as fast as possible.</p>
                </div>
            </div>
            <div class="col-md-10 col-lg-4">
                <h5 class="fw-bold">Visit our office</h5>
                <p>Satrio Tower 16th Floor, Jl. Prof Dr Satrio Kuningan, Jakarta</p>
                <h5 class="fw-bold mt-3">Message us</h5>
                <p>hello@company.com<br/>(888)234-5686</p>
                <div class="mt-3">
                    <a href="#" class="fab fa-facebook-square fa-lg color-facebook me-1"></a>
                    <a href="#" class="fab fa-twitter fa-lg color-twitter me-1"></a>
                    <a href="#" class="fab fa-linkedin-in fa-lg color-linkedin me-1"></a>
                    <a href="#" class="fab fa-instagram fa-lg color-instagram me-1"></a>
                    <a href="#" class="fab fa-pinterest fa-lg color-pinterest me-1"></a>
                </div>
            </div>
            <div class="col-md-10 col-lg-8 mt-5 mt-lg-0">
                <form id="contact-form" class="row g-1 ms-lg-5" novalidate>
                    <div class="col-6">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-user fa-xs text-secondary"></i></span>
                            <input class="form-control" id="name" name="name" type="text" placeholder="Full name" aria-label="Full name" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-envelope fa-xs text-secondary"></i></span>
                            <input class="form-control" id="email" name="email" type="email" placeholder="Email address" aria-label="Email address" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-pen fa-xs text-secondary"></i></span>
                            <input class="form-control" id="subject" name="subject" type="text" placeholder="Subject" aria-label="Subject" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" id="message" name="message" placeholder="Message" rows="6" required></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" id="sendemail" type="submit" name="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- success notification begin -->
    <div class="position-fixed bottom-0 end-0 p-4" style="z-index: 2">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-primary">
                <i class='fas fa-check-circle me-1'></i>Your message has been sent successfully. Thank you!
            </div>
        </div>
    </div>
    <!-- success notification end -->
</section>
<!-- section content end -->