<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="row row-cols-1 row-cols-md-4 gy-3 text-center">
                    <div class="col">
                        <i class="fas fa-heart fa-3x text-secondary mb-3"></i>
                        <h2 class="fw-bold text-muted">
                            <span class="count" data-counter-end="98" data-counter-append="%">0%</span>
                        </h2>
                        <p class="text-muted">Happy clients</p>
                    </div>
                    <div class="col">
                        <i class="fas fa-clock fa-3x text-secondary mb-3"></i>
                        <h2 class="fw-bold text-muted">
                            <span class="count" data-counter-end="365" data-counter-append="x7">0x7</span>
                        </h2>
                        <p class="text-muted">Customer support</p>
                    </div>
                    <div class="col">
                        <i class="fas fa-images fa-3x text-secondary mb-3"></i>
                        <h2 class="fw-bold text-muted">
                            <span class="count" data-counter-end="70" data-counter-append="+">0+</span>
                        </h2>
                        <p class="text-muted">Pre-built pages</p>
                    </div>
                    <div class="col">
                        <i class="fas fa-layer-group fa-3x text-secondary mb-3"></i>
                        <h2 class="fw-bold text-muted">
                            <span class="count" data-counter-end="200">0</span>
                        </h2>
                        <p class="text-muted">Fresh components</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->