<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row align-items-center gy-md-3 gx-lg-5">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="pe-lg-5">
                    <span class="badge bg-primary mb-1">cool badge</span>
                    <h2 class="fw-bold mb-2">Blockit heading 2 feature <span class="text-primary">example of second row</span></h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi.</p>
                    <div class="row row-cols-2 gx-1 gx-md-2 gx-lg-2 mt-3">
                        <div class="col">
                            <ul class="list-group ">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Bootstrap
                                    <span class="badge bg-primary rounded-pill">Ok</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Sass
                                    <span class="badge bg-primary rounded-pill">Ok</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    HTML
                                    <span class="badge bg-primary rounded-pill">Ok</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    JavaScript
                                    <span class="badge bg-primary rounded-pill">Ok</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 mt-3 mt-md-4 mt-lg-0">
                <div class="row row-cols-2 g-1 g-md-2 g-lg-2" data-isotope='{"percentPosition": true}'>
                    <div class="col mt-5">
                        <img src="img/blockit/in-feature-image-1.jpg" class="img-fluid rounded-1 shadow" alt="gallery-image">
                    </div>
                    <div class="col">
                        <img src="img/blockit/in-feature-image-2.jpg" class="img-fluid rounded-1 shadow" alt="gallery-image">
                    </div>
                    <div class="col">
                        <img src="img/blockit/in-feature-image-4.jpg" class="img-fluid rounded-1 shadow" alt="gallery-image">
                    </div>
                    <div class="col">
                        <img src="img/blockit/in-feature-image-3.jpg" class="img-fluid rounded-1 shadow" alt="gallery-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->