<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row align-items-center gy-3 gx-lg-5 d-md-flex">
            <div class="col-md-12 col-lg-6 order-last order-lg-first">
                <div class="accordion accordion-style-4" id="sampleFour">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a4One" aria-expanded="true">
                                How long is trial period exactly?
                            </button>
                        </h2>
                        <div id="a4One" class="accordion-collapse collapse show" data-bs-parent="#sampleFour">
                            <div class="accordion-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a4Two" aria-expanded="false">
                                How do i get started with this product?
                            </button>
                        </h2>
                        <div id="a4Two" class="accordion-collapse collapse" data-bs-parent="#sampleFour">
                            <div class="accordion-body">
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat excepteur sint occaecat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a4Three" aria-expanded="false">
                                How does the transfer work?
                            </button>
                        </h2>
                        <div id="a4Three" class="accordion-collapse collapse" data-bs-parent="#sampleFour">
                            <div class="accordion-body">
                                <p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga incididunt ut labore.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 order-first order-lg-last">                
                <h2 class="fw-bold">Frequently asked questions</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, eiusmod tempor quis nostrud exercitation.</p>
                <div class="d-flex align-items-center">
                    <div class="icon-wrap bg-light rounded-circle flex-shrink-0 me-1">
                        <i class="fas fa-question fa-lg text-secondary"></i>
                    </div>
                    <a href="#" class="btn btn-link text-decoration-none px-0">View another FAQ<i class="fas fa-angle-right fa-xs ms-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->