<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row row-cols-md-2 row-cols-lg-3 bigger-picture g-2" data-isotope='{"percentPosition": true}'>
            <div class="col">
                <div class="card border-0">
                    <a href="img/blockit/in-gallery-image-1.jpg" data-img="img/blockit/in-gallery-image-1.jpg" data-thumb="img/blockit/in-gallery-image-1.jpg" data-alt="Gallery" data-width="600" data-height="522">
                        <img src="img/blockit/in-gallery-image-1.jpg" class="img-fluid rounded-1" alt="gallery-image">
                        <div class="card-img-overlay d-flex justify-content-center align-items-end p-2">
                            <span class="badge rounded-pill bg-white text-body px-1">caption text</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a href="img/blockit/in-gallery-image-2.jpg" data-img="img/blockit/in-gallery-image-2.jpg" data-thumb="img/blockit/in-gallery-image-2.jpg" data-alt="Gallery" data-width="600" data-height="378">
                        <img src="img/blockit/in-gallery-image-2.jpg" class="img-fluid rounded-1" alt="gallery-image">
                        <div class="card-img-overlay d-flex justify-content-center align-items-end p-2">
                            <span class="badge rounded-pill bg-white text-body px-1">caption text</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a href="img/blockit/in-gallery-image-3.jpg" data-img="img/blockit/in-gallery-image-3.jpg" data-thumb="img/blockit/in-gallery-image-3.jpg" data-alt="Gallery" data-width="600" data-height="236">
                        <img src="img/blockit/in-gallery-image-3.jpg" class="img-fluid rounded-1" alt="gallery-image">
                        <div class="card-img-overlay d-flex justify-content-center align-items-end p-2">
                            <span class="badge rounded-pill bg-white text-body px-1">caption text</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a href="img/blockit/in-gallery-image-6.jpg" data-img="img/blockit/in-gallery-image-6.jpg" data-thumb="img/blockit/in-gallery-image-6.jpg" data-alt="Gallery" data-width="600" data-height="522">
                        <img src="img/blockit/in-gallery-image-6.jpg" class="img-fluid rounded-1" alt="gallery-image">
                        <div class="card-img-overlay d-flex justify-content-center align-items-end p-2">
                            <span class="badge rounded-pill bg-white text-body px-1">caption text</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a href="img/blockit/in-gallery-image-5.jpg" data-img="img/blockit/in-gallery-image-5.jpg" data-thumb="img/blockit/in-gallery-image-5.jpg" data-alt="Gallery" data-width="600" data-height="378">
                        <img src="img/blockit/in-gallery-image-5.jpg" class="img-fluid rounded-1" alt="gallery-image">
                        <div class="card-img-overlay d-flex justify-content-center align-items-end p-2">
                            <span class="badge rounded-pill bg-white text-body px-1">caption text</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col d-md-none d-lg-block">
                <div class="card border-0">
                    <a href="img/blockit/in-gallery-image-4.jpg" data-img="img/blockit/in-gallery-image-4.jpg" data-thumb="img/blockit/in-gallery-image-4.jpg" data-alt="Gallery" data-width="600" data-height="236">
                        <img src="img/blockit/in-gallery-image-4.jpg" class="img-fluid rounded-1" alt="gallery-image">
                        <div class="card-img-overlay d-flex justify-content-center align-items-end p-2">
                            <span class="badge rounded-pill bg-white text-body px-1">caption text</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->