<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 gy-2 gy-lg-0 gx-lg-2 gx-lg-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="icon-wrap bg-primary bg-opacity-25 rounded-3 flex-shrink-0 mt-1 mb-4">
                                    <i class="fas fa-chart-bar fa-lg text-primary"></i>
                                </div>
                                <p class="small text-uppercase text-primary mb-2">Trading</p>
                                <h5 class="fw-bold mb-3">Powerful trading tools &amp; resources</h5>
                                <div class="mb-3">
                                    <a href="#" class="btn btn-link text-secondary text-decoration-none p-0">More info<i class="fas fa-chevron-circle-right fa-xs ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm border-0 bg-primary">
                            <div class="card-body text-white">
                                <div class="icon-wrap bg-white bg-opacity-25 rounded-3 flex-shrink-0 mt-1 mb-4">
                                    <i class="fas fa-seedling fa-lg text-white"></i>
                                </div>
                                <p class="small text-uppercase text-white-50 mb-2">Investing</p>
                                <h5 class="fw-bold mb-3">A wide selection of investing markets</h5>
                                <div class="mb-3">
                                    <a href="#" class="btn btn-link text-white-50 text-decoration-none p-0">More info<i class="fas fa-chevron-circle-right fa-xs ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm border-0 bg-dark">
                            <div class="card-body text-white">
                                <div class="icon-wrap bg-white bg-opacity-25 rounded-3 flex-shrink-0 mt-1 mb-4">
                                    <i class="fas fa-handshake fa-lg text-white"></i>
                                </div>
                                <p class="small text-uppercase text-white-50 mb-2">Fund advisor</p>
                                <h5 class="fw-bold mb-3">Dedicated financial consultant to help</h5>
                                <div class="mb-3">
                                    <a href="#" class="btn btn-link text-white-50 text-decoration-none p-0">More info<i class="fas fa-chevron-circle-right fa-xs ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->