---
layout: default
title: Blog
breadcrumb: true
as_blog: false
as_single: true
---

<main data-title="blog-single">
    {{> post-title-coinbase-shares-fall-after-it-reveals-sec-plans-to }}
    {{#if setting.blog.disqussShortname}}
    {{> component-disqus }}
    {{/if}}
</main>