---
layout: default
title: Blog
breadcrumb: true
as_blog: false
as_single: true
---

<main data-title="blog-single">
    {{> post-title-european-markets-head-for-lower-open-ahead-of-european }}
    {{#if setting.blog.disqussShortname}}
    {{> component-disqus }}
    {{/if}}
</main>