---
layout: default
title: Blog
breadcrumb: true
as_blog: false
as_single: true
---

<main data-title="blog-single">
    {{> post-title-gold-holds-near-2-12-month-high-on-prospects-of-fed }}
    {{#if setting.blog.disqussShortname}}
    {{> component-disqus }}
    {{/if}}
</main>