---
layout: default
title: Blog
breadcrumb: true
as_blog: false
as_single: true
---

<main data-title="blog-single">
    {{> post-title-india-is-better-equipped-to-deal-with-a-potential }}
    {{#if setting.blog.disqussShortname}}
    {{> component-disqus }}
    {{/if}}
</main>