---
layout: default
title: Blog
breadcrumb: true
as_blog: false
as_single: true
---

<main data-title="blog-single">
    {{> post-title-wind-turbine-giant-siemens-gamesa-claims-world-first }}
    {{#if setting.blog.disqussShortname}}
    {{> component-disqus }}
    {{/if}}
</main>