<!-- section content begin -->
<section>
    <div class="container-fluid overflow-hidden">
        <div class="row vh-100">
            <div class="col-7 bg-light shadow-lg d-none d-lg-block" style="background-image: url(img/blockit/in-signin-image.jpg); background-size: cover;"></div>
            <div class="col-md-12 col-lg-5 d-flex align-items-center">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="text-center">
                            <a class="navbar-brand" href="{{root}}index.html">
                                <img src="img/blockit/blockit-logo.svg" alt="logo" width="34" height="34" class="d-inline-block">
                                <span class="h4 fw-bold text-secondary ms-1 align-middle">Blockit</span>
                            </a>
                            <p class="lead text-muted mt-1 mb-3">Log into your account</p>
                            <!-- login form begin -->
                            <form>
                                <div class="row g-1">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <input id="username" type="text" class="form-control" placeholder="Username" aria-label="Username">
                                            <span class="input-group-text"><i class="fas fa-user fa-xs text-secondary"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <input id="password" type="password" class="form-control" placeholder="Password" aria-label="Password">
                                            <span class="input-group-text"><i class="fas fa-lock fa-xs text-secondary"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-6 text-start">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label" for="rememberme"><small>Remember me</small></label>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a href="#" class="link-dark text-decoration-none"><small>Forgot password?</small></a>
                                    </div>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary" name="submit">Sign in</button>
                                    </div>
                                </div>
                            </form>
                            <!-- login form end -->
                            <h6 class="mt-4 mb-4 text-line">
                                <span class="text-muted">Or sign in with</span>
                            </h6>
                            <div class="mb-3">
                                <a class="btn btn-light bg-google" href="#"><i class="fab fa-google me-2"></i>Google</a>
                                <a class="btn btn-light bg-facebook" href="#"><i class="fab fa-facebook-f me-2"></i>Facebook</a>
                            </div>                        
                            <small class="text-muted">Don't have an account? <a href="#" class="link-primary text-decoration-none">Register here</a></small>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
<!-- section content end -->
