<!-- section content begin -->
<section class="py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-2 g-md-2 gx-lg-3">
            <div class="col d-flex align-items-stretch">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fas fa-map-marked-alt fa-3x text-secondary mt-1"></i>
                        <h5 class="fw-bold mt-4">Services tagline</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-stretch">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fas fa-pencil-ruler fa-3x text-secondary mt-1"></i>
                        <h5 class="fw-bold mt-4">Services tagline</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-stretch">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fas fa-tachometer-alt fa-3x text-secondary mt-1"></i>
                        <h5 class="fw-bold mt-4">Services tagline</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-stretch">
                <div class="card bg-primary shadow-sm">
                    <div class="card-body text-white text-opacity-75">
                        <h5 class="fw-bold text-white mt-1">Why choose Blockit builder?</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                        <a class="btn btn-link text-white-50 text-decoration-none p-0" href="#">More info <i class="fas fa-circle-chevron-right fa-xs ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->