// Mobile navbar
.loaded {
    &.modal-open {
        padding-right: 0 !important;
        .modal-dialog {
            max-width: 400px;
        }
        .modal-backdrop {
            background-color: rgba(255, 255, 255, .75);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            &.show { opacity: 1; }
        }
        .modal-content {
            a.nav-link {
                color: $body-color;
            }
        }
        .accordion-button {
            font-size: 1.412rem;
            background: transparent;
            &:not(.collapsed) {
                box-shadow: none;
                &::after {
                    background-image: none;
                    content: "\f104";
                    transform: none;
                }
            }
            &::after {
                width: .4rem;
                height: 1.3rem;
                background-image: none;
                color: $body-color;
                content: "\f104";
                font-family: 'Font Awesome 6 Free';
                font-size: .85rem;
            }
        }
        .nav-link {
            font-size: 1.412rem;
            padding-top: .3rem;
            padding-bottom: .3rem;
            &.active {
                color: $primary !important;
            }
        }
        .list-unstyled {
            .nav-link {
                color: lighten($body-color, 20%) !important;
                font-size: 1.059rem;
                padding-top: .3rem;
                padding-bottom: .3rem;
                &.active {
                    color: $primary !important;
                }
                i {
                    margin-left: .5rem;
                }
            }
        }
    }
}

.btn-mobile-navbar {
    width: 50px;
    height: 50px;
    box-shadow: inset 0px 0px 0px 1px $text-muted;
    border-radius: $border-radius;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    top: 0;
    right: 0;
    i {
        color: $text-muted;
    }
    &.show {
        color: $text-muted;
        box-shadow: inset 0px 0px 0px 1px $text-muted;
        z-index: $zindex-tooltip;
    }
}