$dot-size: 35px;
$dot-border: 10px;

.timeline-horizontal {
    .timeline-item {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            height: 106px;
            border-left: 1px solid $border-color;
            position: absolute;
            left: 31px;
            z-index: -1;
        }
    }
}

.timeline-vertical {    
    position: relative;
    padding: 25px 0;
    &::before {
        content: "";
        width: 3px;
        height: 100%;
        background: $border-color;
        left: 50%;
        top: 0;
        position: absolute;
    }
    &::after {
        content: "";
        clear: both;
        display: table;
        width: 100%;
    }
    .timeline-item {
        position: relative;
        &:after, &:before {
            content: '';
            display: block;
            width: 100%;
            clear: both;
        }
        &::before {
            width: $dot-size;
            height: $dot-size;
            background: $primary;
            border: $dot-border solid $body-bg;
            border-radius: 50%;
            position: absolute;
            top: 28px;
            left: 50%;
            overflow: hidden;
            margin-left: -16px;
        }
        .card {
            width: 45%;
        }
    }
}

@include media-breakpoint-down(lg) {
    .timeline-vertical {
        margin: 10px 0;
        &:before {
            left: 0;
        }
        .timeline-item {
            margin-bottom: $spacer;
            &:before {
                left: 0;
            }
            .card {
                width: 93%;
                float: right;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .timeline-vertical {
        &::before {
            left: 1%;
        }
        .timeline-item {
            &:before {
                left: 1%;
            }
            .card {
                width: 89%;
            }
        }
    }
}