// Page loader
.page-loader {
    div {
        margin: 0 .3rem;
    }
}

// Icon wrapper
.icon-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    &.icon-wrap-micro {
        width: 24px;
        height: 24px;
    }
    &.icon-wrap-small {
        width: 38px;
        height: 38px;
    }
    &.icon-wrap-large {
        width: 92px;
        height: 92px;
    }
}

// To top
.to-top {
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // position
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1;
    // animation
    opacity: 0;
    visibility: hidden;
    transform: translateY(0.75rem);
    transition: all 200ms linear;
    // styling
    background-color: $primary;
    border-radius: $border-radius-pill;
    &.to-top-animation {
        visibility: visible;
        transform: translateY(0);
    }
}

// Text line
.text-line { 
    position: relative;
    z-index: 1;
    span {
        background-color: $body-bg;
        padding: 0 10px;
        &::before {
            content: "";
            width: 100%;
            position: absolute;
            top: calc(50% - ((0.2px + 0.05em) / 2));
            left: 0;
            border-bottom: 1px solid $border-color;
            z-index: -1;
        }
    }
}

// Brand colors
@each $key, $val in $brand-colors {
    .bg-#{$key} {
        color: $white;
        background-color: $val;
    }

    a.bg-#{$key}:hover {
        color: $white;
        background-color: darken($val, 10%);
    }

    .color-#{$key} {
        color: $val;
    }

    a.color-#{$key} {
        text-decoration: none;
        &:hover {
            color: darken($val, 10%);
        }
    }
}

// Page loader
body > .page-loader {
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    div {
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.3s;
        }
    }
}

body:not(.loaded) {
    overflow: hidden;
    .page-loader {
        opacity: 1;
    }
}

body.loaded {
    .page-loader {
        animation: hideLoader 0.5s linear 0.5s forwards;
    }
}

@keyframes hideLoader {
    0% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 0;
        height: 0;
    }
}

// Sticky nav
.sticky-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-tooltip;
    // animation
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    // styling
    background: rgba($white, .75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0, 0, 0, .08);
    &.active {
        transform: translateY(0%);
    }
    // sticky height
    &.navbar {
        height: 64px;
    }
    .nav-link {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
}

// 404 not found
.not-found {
    h1 {
        font-size: 7.3rem;
        position: relative;
        top: 5px;
    }
    @include media-breakpoint-down(sm) {
        .fa-6x {
            font-size: 4.6rem;
        }
        h1 {
            font-size: 5.6rem;
            top: 3px;
        }
    }
}

// Youtube wrapper video
.youtube-wrapper {
    position: relative;
    margin: 51px 0;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0px;
    }
}