// Theme Colors
$primary: #2788ED;
$secondary: #6C757D;
$success: #3BD297;
$info: #93C4F6;
$warning: #F89F5F;
$danger: #EE4F6F;
$light: #F0F0F0;
$dark: #323131;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$min-contrast-ratio: 3;

// Body
$body-bg: #FFFFFF;
$body-color: #333333;

// Heading
// $headings-color: #333333;

// Link
$link-color: #2788ED;