@import "../../../node_modules/bootstrap/scss/utilities";

// Border radius utility
$utilities: map-merge($utilities,
    ( 
        "rounded-top": (
            property: border-top-left-radius border-top-right-radius,
            class: rounded-top,
            values: (null: $border-radius-sm)
        ),
        "rounded-end": (
            property: border-top-right-radius border-bottom-right-radius,
            class: rounded-end,
            values: (null: $border-radius-sm)
        ),
        "rounded-bottom": (
            property: border-bottom-right-radius border-bottom-left-radius,
            class: rounded-bottom,
            values: (null: $border-radius-sm)
        ),
        "rounded-start": (
            property: border-bottom-left-radius border-top-left-radius,
            class: rounded-start,
            values: (null: $border-radius-sm)
        )
    )
);

// Border utility
$utilities: map-merge($utilities,
    (
        "border": map-merge(
            map-get($utilities, "border"),
            (responsive: true),
        ),
        "border-top": map-merge(
            map-get($utilities, "border-top"),
            (responsive: true),
        ),
        "border-end": map-merge(
            map-get($utilities, "border-end"),
            (responsive: true),
        ),
        "border-bottom": map-merge(
            map-get($utilities, "border-bottom"),
            (responsive: true),
        ),
        "border-start": map-merge(
            map-get($utilities, "border-start"),
            (responsive: true),
        )
    )
);

// Height utility
$utilities: map-merge($utilities,
    (
        "width": (
            property: width,
            responsive: true,
            class: w,
            values: (
                25: 25%,
                50: 50%,
                75: 75%,
                100: 100%,
                auto: auto
            )
        ),
        "height": (
            property: height,
            responsive: true,
            class: h,
            values: (
                25: 25%,
                50: 50%,
                75: 75%,
                100: 100%,
                300: 300px,
                400: 400px,
                500: 500px,
                600: 600px,
                auto: auto
            )
        )
    )
);

// Border rounded utility
$utilities: map-merge($utilities,
    (
        "rounded": (
            property: border-radius,
            responsive: true,
            class: rounded,
            values: (
                null: $border-radius,
                0: 0,
                1: $border-radius-sm,
                2: $border-radius,
                3: $border-radius-lg,
                circle: 50%,
                pill: $border-radius-pill
            )
        ),
        "rounded-top": (
            property: border-top-left-radius border-top-right-radius,
            responsive: true,
            class: rounded-top,
            values: (
                null: $border-radius-sm
            )
        ),
        "rounded-end": (
            property: border-top-right-radius border-bottom-right-radius,
            responsive: true,
            class: rounded-end,
            values: (
                null: $border-radius-sm
            )
        ),
        "rounded-bottom": (
            property: border-bottom-right-radius border-bottom-left-radius,
            responsive: true,
            class: rounded-bottom,
            values: (
                null: $border-radius-sm
            )
        ),
        "rounded-start": (
            property: border-bottom-left-radius border-top-left-radius,
            responsive: true,
            class: rounded-start,
            values: (
                null: $border-radius-sm
            )
        ),
    )
);