<!-- social media begin -->
<div class="social-media-list small hstack gap-3">
	<div><a href="https://www.facebook.com/indonez" class="color-facebook text-decoration-none"><i class="fab fa-facebook-square"></i> Facebook</a></div>
	<div><a href="https://twitter.com/indonez_tw" class="color-twitter text-decoration-none"><i class="fab fa-twitter"></i> Twitter</a></div>
	<div><a href="https://www.instagram.com/indonez_ig/" class="color-instagram text-decoration-none"><i class="fab fa-instagram"></i> Instagram</a></div>
</div>
<!-- social media end -->
