<!-- footer begin -->
<footer class="bg-light py-4">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 text-muted align-items-center">
            <div class="col text-center text-md-center text-lg-start mb-2 mb-md-3 mb-lg-0">
                <p class="copyright-text mb-0">Blockit, a premade sections layout by <a class="link-primary text-decoration-none" href="https://www.indonez.com/" target="blank"><span class="fw-bold">Indonez</span></a> built using Bootstrap</p>
            </div>
            <div class="col">
                <div class="footer-logo d-flex justify-content-center justify-content-md-center justify-content-lg-end align-item-center">
                    {{> component-social-media }}
                    <img class="ms-2 d-md-none d-inline-block d-lg-inline-block" src="{{root}}img/user/footer-logo-5vqlhba3vbl.svg" alt="footer-logo" width="34" height="34">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
