<!-- widget search begin -->
<aside class="mb-4">
    <form name="blog-search" class="needs-validation" novalidate>
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search here..." required>
            <button class="btn btn-primary px-2" type="submit"><i class="fas fa-magnifying-glass fa-sm"></i></button>
        </div>
    </form>
</aside>
<!-- widget search end -->
