<!-- widget tags begin -->
<aside class="mb-4">
    <div class="card bg-light border-0 rounded-1">
        <div class="card-body ps-4 pe-4 pb-4">
            <h5 class="fw-bold">Tags</h5>
            <div class="widget-tag"></div>
        </div>
    </div>
</aside>
<!-- widget tags end -->
