<!-- breadcrumb content begin -->
<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="d-none">Breadcrumb</h6>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb content end -->